argh==0.26.2
bootstrap4==0.1.0
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.5.0
Django==2.1.11
Django-Bootstrap3-Validator==0.3.3
django-leaderboard==0.1.0
django-model-utils==3.1.2
djangorestframework==3.9.2
djangorestframework-stubs==0.3.0
filelock==3.0.10
idna==2.8
oauthlib==3.0.1
pathtools==0.1.2
Pillow==6.0.0
pluggy==0.9.0
py==1.8.0
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2018.9
PyYAML==5.1
redis==3.2.1
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
toml==0.10.0
tornado==4.5.1
urllib3==1.24.1
virtualenv==16.4.3
watchdog==0.9.0
websocket-client==0.56.0
